<h1>The original 150 Pokemon</h1>
<!-- adds to favorite pokemon -->

<% pokemons.forEach(pokemon=> { %>
    <div>
        <h3>
            <%= pokemon.name %>
                <form method="POST" action="/pokemons">
                    <input type="hidden" name="name" value="<%= pokemon.name %>">
                    <input type="submit" value="Add to favorites">

                </form>
        </h3>
    </div>
    <% }) %>